.place-button {
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #6aafe6;
  /* box-shadow: 0 15px 35px #6aafe6; */
  text-decoration: none;
  font-weight: 600;
  font-family: "Gamja Flower", cursive;
  transition: 0.25s;
}
.place-button:hover {
  background-color: #6aafe6;
  color: #d4dfe6;
}
