.bmk-content-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.bookmark-title-container h1 {
  color: black;
}
.bookmark-title-container {
  display: flex;
  justify-content: center;
}
.bookmark-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  //   height: 100%;
}

#loadMoreButton {
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #6aafe6;
  /* box-shadow: 0 15px 35px #6aafe6; */
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  font-family: "Gamja Flower", cursive;
}
