/*
bookmark-items
bmk-info-family
bmk-button-family
*/

.bookmark-items {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.bmk-info-family {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bmk-button-family {
  display: flex;
  align-items: center;
}

.bookmark-button {
  position: relative;
  transition: 0.25s;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #6aafe6;
  /* box-shadow: 0 15px 35px #6aafe6; */
  font-weight: 600;
  text-decoration: none;
  font-family: "Gamja Flower", cursive;
}
.bookmark-button:hover {
  background-color: #6aafe6;
  color: #d4dfe6;
}
