// header
// page-link header-items
// header-items menu-btn
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #00b4cc;
  text-align: center;
}

.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
}
