.category-form {
  /* 가로 스크롤 */
  overflow: auto;
  width: 100%;
  color: #112031;
  white-space: nowrap;
  /* border: 1px solid #000; */
}
.category-item {
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #6aafe6;
  /* box-shadow: 0 15px 35px #6aafe6; */
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  font-family: "Gamja Flower", cursive;
}
.category-item:hover {
  background-color: #6aafe6;
  color: #d4dfe6;
}
.active {
  background-color: #6aafe6;
  color: #d4dfe6;
}
